.search {
    padding: 0 32px;
    height: 100%;
}

.grid-container {
    height: 100%;
    width: 100%;
    display: grid;
    --minimumColumnWidth: 180px;
    grid-auto-rows: auto;
    grid-template-rows: repeat(auto-fill, 292px);
    grid-gap: 50px;
    grid-template-columns: repeat(auto-fill, minmax(var(--minimumColumnWidth), 1fr));
    grid-column: 1/-1;
}

.playlist-card {
    cursor: pointer;
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    background: #181818;
    border-radius: 4px;
    isolation: isolate;
    padding: 16px;
    position: relative;
    -webkit-transition: background-color .3s ease;
    transition: background-color .3s ease;
}

.playlist-card__cover {
    margin-bottom: 16px;
    position: relative;
    background-color: #333;
    -webkit-box-shadow: 0 8px 24px rgb(0 0 0 / 50%);
    box-shadow: 0 8px 24px rgb(0 0 0 / 50%);
    min-height: 161px;
    width: 100%;
}

.genre-card h3 {
    font-size: 24px;
    letter-spacing: -.04em;
    line-height: 1.3em;
    max-width: 100%;
    overflow-wrap: break-word;
    padding: 16px;
    position: absolute;
}

h4 {
    color: rgb(179, 179, 179);
    font-size: 14px;
    font-weight: 400;
    letter-spacing: normal;
    line-height: 16px;
    text-transform: none;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    margin-top: 4px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
