.now-playing-bar {
  grid-area: now-playing-bar;
  background-color: #181818;
  width: 100%;
  z-index: 4;
  height: 91px;
  display: flex;
  justify-content: space-around;
  align-items: center;

  &__left, &__center, &__right {
    display: flex;
    align-items: center;
  }

  &__left, &__right {
    width: 30%;
    justify-content: flex-start;
  }

  &__center {
    width: 40%;
  }
}

.now-playing {

  &__cover-art {
    width: 56px;
    height: 56px;
    background-color: #b3b3b3;
  }

  &__song {
    margin: 0 14px;
    display: flex;
    flex-direction: column;
    font-size: 14px;
    font-weight: 400;

    &__name {
      color: #ffffff;
    }

    &__author {
      color: #b3b3b3;
    }
  }

  &__controls {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
}

.playback-bar {
  height: 16px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;

  &__progress-time {
    min-width: 40px;
    text-align: center;
  }
}

.progress-bar {
  height: 12px;
  position: relative;
  width: 100%;
  background-color: #535353;
  border-radius: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 4px;
  width: 100%;
  overflow: hidden;
  min-width: 100%;
  height: 4px;
  border-radius: 2px;
}
