.home {
    grid-gap: 24px;
    display: grid;
    padding: 0 32px;
}

.grid-container {
    width: 100%;
    display: grid;
    grid-auto-rows: auto;
    grid-template-rows: 1fr;
    --minimumColumnWidth: 270px;
    row-gap: 16px;
    grid-gap: 24px;
    grid-template-columns: repeat(auto-fill, minmax(var(--minimumColumnWidth), 1fr));
    overflow: hidden;
}
