.title {
  margin-bottom: 16px;
}

h2 {
  margin: 16px 0;
}

.shortcuts {
  --minimumColumnWidth: 270px;
  row-gap: 16px;
  display: grid;
  grid-gap: 24px;
  grid-template-columns: repeat(auto-fill, minmax(var(--minimumColumnWidth), 1fr));

  &__item {
    width: 405px;
    height: 80px;
    background-color: hsla(0,0%,100%,.1);
    border-radius: 4px;
  }
}

.recently {
  --minimumColumnWidth: 180px;
  display: grid;
  grid-gap: 24px;
  grid-template-columns: repeat(auto-fill,minmax(var(--minimumColumnWidth),1fr));
  overflow-y: hidden;
  grid-auto-rows: 0;
  grid-template-rows: 1fr;

  &__item {
    background: #181818;
    border-radius: 4px;
    width: 100%;
    height: 268px;
  }
}