.top-bar {
  position: relative;
  height: 60px;
  z-index: 2;
  pointer-events: none;
  width: 100%;

  button {
    cursor: pointer;
    border: none;
    height: 32px;
    width: 32px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, .7);
    color: #fff;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
  }
}
