.navbar {
  grid-area: navbar;
  background-color: rgba(0,0,0,.8);
  width: 232px;
  z-index: 3;

  ul {
    list-style: none;

    li {
      cursor: pointer;
      display: flex;
      align-items: center;
      padding: 0 16px;
      height: 40px;
      color: #b3b3b3;

      &:hover {
        color: #ffffff;
      }
    }
  }
}

.spotify-logo--text {
  cursor: pointer;
  padding-top: 24px;
  padding-left: 24px;
  width: 131px;
  height: 40px;
}
