.navbar {
  grid-area: navbar;
  background-color: rgba(0,0,0,.8);
  width: 232px;
  z-index: 3;
}

.spotify-logo--text {
  cursor: pointer;
  padding-top: 24px;
  padding-left: 24px;
  padding-bottom: 24px;
  width: 131px;
  height: 40px;
}

.menu {
  ul {
    list-style: none;
    padding: 0 8px;
    font-size: 14px;
    font-weight: 700;

    li {
      cursor: pointer;
      display: flex;
      align-items: center;
      padding: 0 16px;
      height: 40px;
      color: #b3b3b3;
      border-radius: 4px;

      &:hover {
        color: #ffffff;

        svg path {
          fill: #ffffff;
        }
      }

      &.active {
        background-color: #282828;
        color: #ffffff;

        svg path {
          fill: #ffffff;
        }
      }

      svg {
        margin-right: 16px;
      }
    }
  }
}

.playlists {
  margin-top: 24px;

  h1 {
    color: #b3b3b3;
    font-size: 12px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: .1em;
    text-transform: uppercase;
    margin: 0 24px 12px;
  }

  ul {
    list-style: none;
    padding: 0 8px;
    font-size: 14px;
    font-weight: 700;

    li {
      cursor: pointer;
      display: flex;
      align-items: center;
      padding: 0 16px;
      height: 40px;
      color: #b3b3b3;
      border-radius: 4px;

      &:hover {
        color: #ffffff;

        .add {
          background-color: #ffffff;
        }
      }

      &.active {
        background-color: #282828;
        color: #ffffff;
      }

      span {
        margin-left: 16px;
      }
    }
  }

  .add {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 32px;
    background-color: #b3b3b3;
    width: 32px;

    svg {
      height: 24px;
    }
  }
}
