.nav-bar {
  padding-top: 24px;
  display: flex;
  flex-direction: column;
  min-height: 0;
  width: 232px;
  background-color: #040404;
  grid-area: nav-bar;
}

.logo {
  color: #fff;
  margin-bottom: 18px;

  svg {
    width: 131px;
    height: 40px;
  }
}

ul {
  list-style: none;

  li {
    color: #ffffff;

    a {
      color: #ffffff;
    }
  }
}

.icon {
  color: #ffffff;
}

.link-subtle {
  border-radius: 4px;
  padding: 0 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 40px;
}

h1 {
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: .1em;
  text-transform: uppercase;
  color: #ffffff;
}
